body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  position:absolute;
  left:-1px;
  top:0px;
  width:375px;
  height:603px;
}
#u232 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:209px;
  background:inherit;
  background-color:rgba(26, 172, 25, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  position:absolute;
  left:-1px;
  top:0px;
  width:375px;
  height:209px;
}
#u234 {
  position:absolute;
  left:2px;
  top:96px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:192px;
}
#u235 {
  position:absolute;
  left:29px;
  top:49px;
  width:306px;
  height:192px;
}
#u236 {
  position:absolute;
  left:2px;
  top:88px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:425px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  position:absolute;
  left:-1px;
  top:178px;
  width:376px;
  height:425px;
}
#u238 {
  position:absolute;
  left:2px;
  top:204px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:7px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u239 {
  position:absolute;
  left:-1px;
  top:227px;
  width:376px;
  height:7px;
}
#u240 {
  position:absolute;
  left:2px;
  top:-4px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u241 {
  position:absolute;
  left:-1px;
  top:231px;
  width:376px;
  height:158px;
}
#u242 {
  position:absolute;
  left:2px;
  top:71px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
}
#u243 {
  position:absolute;
  left:27px;
  top:188px;
  width:32px;
  height:26px;
}
#u244 {
  position:absolute;
  left:2px;
  top:5px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u245 {
  position:absolute;
  left:70px;
  top:190px;
  width:113px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u247 {
  position:absolute;
  left:357px;
  top:194px;
  width:8px;
  height:15px;
}
#u248 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u249 {
  position:absolute;
  left:29px;
  top:250px;
  width:175px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:38px;
  background:inherit;
  background-color:rgba(26, 172, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 172, 25, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u251 {
  position:absolute;
  left:16px;
  top:405px;
  width:342px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u252 {
  position:absolute;
  left:2px;
  top:8px;
  width:338px;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 172, 25, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1AAC19;
}
#u253 {
  position:absolute;
  left:16px;
  top:453px;
  width:342px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1AAC19;
}
#u254 {
  position:absolute;
  left:2px;
  top:8px;
  width:338px;
  word-wrap:break-word;
}
