body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u342 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
}
#u343 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:600px;
}
#u344 {
  position:absolute;
  left:1px;
  top:-8px;
  width:374px;
  height:600px;
}
#u345 {
  position:absolute;
  left:2px;
  top:292px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:48px;
  background:inherit;
  background-color:rgba(240, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u346 {
  position:absolute;
  left:446px;
  top:998px;
  width:374px;
  height:48px;
}
#u347 {
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:12px;
  background:inherit;
  background-color:rgba(240, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u348 {
  position:absolute;
  left:1px;
  top:591px;
  width:374px;
  height:12px;
}
#u349 {
  position:absolute;
  left:2px;
  top:-2px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350 {
  position:absolute;
  left:10px;
  top:36px;
  width:357px;
  height:94px;
  overflow:hidden;
}
#u350_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:94px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u350_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
